<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> <!--레이아웃용 필수 코드-->
<head>
    <meta charset="UTF-8">
    <title>프론트 레이아웃 담당용</title>
</head>
<body>
 <div>
     <h3>샘플 레이아웃 페이지</h3>
     <h2>레이아웃의 조각을 fragment 라고 함</h2>
     <h2> 해당 영역을 헤더로 활용할 수 있음</h2>
 </div>
 <div layout:fragment="content">
     <p> 컨텐츠 영역</p>
 </div>
 <div>
     <h3>샘플 레이아웃의 footer 부분(하단)</h3>
 </div>
 <th:block layout:fragment="script">
     <!--자바 스크립트용 조각-->
 </th:block>
</body>
</html>